<IfModule mod_rewrite.c>

  Header set Access-Control-Allow-Origin "*"

	RewriteEngine on
	RewriteCond $1 !^(index.php|bower_components|js|images|content|pdf|Exel)
	RewriteCond %{REQUEST_FILENAME} !-f 
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /proyecto/index.php 
</IfModule>

